body{

height:100vh;
margin:0;

display:flex;
justify-content:center;
align-items:center;

background:#101820;

font-family:Arial;

}


card{

background:#1f2937;

padding:45px;

border-radius:25px;

text-align:center;

color:white;

box-shadow:0 0 25px cyan;

}


.card{

background:#1f2937;

padding:45px;

border-radius:25px;

text-align:center;

color:white;

box-shadow:0 0 25px cyan;

}



h1{

font-size:30px;

}



#temp{

font-size:40px;

margin:30px;

color:#00ffff;

}



#connection{

font-size:18px;

color:#00ff88;

}
