body{

height:100vh;
margin:0;

display:flex;
justify-content:center;
align-items:center;

background:#101820;

font-family:Arial;

}


.card{

background:#1f2937;

padding:40px;

border-radius:25px;

text-align:center;

color:white;

box-shadow:0 0 25px cyan;

}


#status{

font-size:30px;

margin:30px;

}



button{

padding:15px 35px;

border:none;

border-radius:30px;

font-size:18px;

margin:10px;

cursor:pointer;

}


.on{

background:#00ff88;

}


.off{

background:#ff4444;

}


#connection{

margin-top:20px;

color:#00ffff;

}
